body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #005BBB;
}

.header {
    position: relative;
    padding: 80px 0 0 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.logo {
    height: 60px;
    text-align: center;
    margin: 0 0 80px;
}

.nav {
    margin: 0 0 80px 0;
    text-align: center;
}

.nav__link {
    margin: 0 40px 0 40px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: #005BBB;
}

.nav__link:hover {
    border-bottom: 2px solid #005BBB;
    /* text-underline відпрацьовує не зовсім корректно */
}

.btn-burger,
.btn-close {
    display: none;
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* -----------------------------------SLick Slider------------------------ */
.gallery {
    max-width: 1352px;
    margin: 0 auto;
}

.slider {
    margin-bottom: 80px;    
}

.slick-track {
    margin: 0 0 40px 0;
}

.slick-slide img {
    width: 100%;
    display: inline-block;
}

.slick-slide {
    position: relative;
    border: solid #fff;
    border-width: 0 20px;
}

.slick-slide:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;
    background: linear-gradient(0deg, rgba(0, 91, 187, 0.2), rgba(0, 91, 187, 0.2));
    border-left-width: 10px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #005BBB 50%, #FFD500 50%) 1 1;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.slick-dots button {
    font-size: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #005BBB;
    cursor: pointer;
}

.slick-dots .slick-active button {
    background-color: #005BBB;
    border: none;
}

/* End slick slider */

.main {
    padding-bottom: 500px;
}

.inro-text-block {
    margin: 0 0 80px 0;
    text-align: left;
}

.intro-text {
    font-size: 28px;
    line-height: 140%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title-block {
    padding: 16px 0 16px;
    border-top: 1px solid #005BBB;
    position: relative;
    margin: 0 0 40px 0;
}

.title-block::after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    background: #005BBB;
    position: absolute;
    left: 25%;
    top: 80px;
}

.main-title {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.history-block {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 80px 0;
}

.history-block__item {
    background: #005BBB;
    color: white;
    max-width: 497px;
    margin: 0 28px 0 0;
    min-height: 394px;
    border-left: 10px solid #FFD500;
    padding: 60px 40px 40px 30px;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
}

.history-block__item:last-child {
    margin-right: 0;
}

.big-data {
    font-size: 48px;
}


.input-group {
    position: relative;
}

.textarea {
    outline: none;
    appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid #005BBB;
    resize: none;
    height: 120px;
    padding: 47px 259px 47px 30px;
    font-size: 18px;
    line-height: 22px;
    color: #005BBB;
    opacity: 0.5;
    overflow: auto;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #005BBB;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #005BBB;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #005BBB;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #005BBB;
}

.button {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 56px;
    width: 199px;
    height: 60px;
    background: #005BBB;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(100% - 229px);
    outline: none;
    appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1024px) {

    .wrapper {
        padding-top: 188px;
    }

    .container {
        max-width: 904px;
        margin: 0 60px;
    }

    .header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 48px 60px 0;
        z-index: 100;
        margin: 0;
    }

    .nav {
        display: none;
    }

    .logo {
        text-align: left;
        margin-bottom: 120px;
    }

    .btn-burger,
    .btn-close {
        display: block;
        position: absolute;
        top: 48px;
        right: 60px;
    }

    .btn-close {
        display: none;
    }

    .menu-open.header {
        background: #005BBB;
    }

    .menu-open .logo svg * {
        fill: #fff;
    }

    .menu-open .btn-burger {
        display: none;
    }

    .menu-open .btn-close {
        display: block;
    }

    .menu-open .nav {
        display: block;
        text-align: left;
        padding: 0 0 72px;
        margin: 0;
    }

    .menu-open .nav__link {
        color: #fff;
        display: block;
        margin: 0 0 48px;
        border-bottom: 2px solid #005BBB;
    }


    .slider {
        padding: 0 50px 0 40px;
    }

    .main-title {
        font-size: 30px;
    }

    .intro-text {
        font-size: 24px;
    }

    .history-block {
        display: block;
        margin: 0 0 100px 0;
    }

    .history-block__item {
        max-width: 100%;
        margin: 0 0 28px 0;
        min-height: 0px
    }

    .gallery {
    }



}

@media (max-width: 600px) {
    .wrapper {
        padding-top: 0;
    }

    .header {
        padding: 20px 20px 0;
    }

    .menu-open.header {
        position: fixed;
        min-height: 100vh;
    }

    .logo {
        display: none;
        margin-bottom: 48px;
    }

    .menu-open .logo {
        display: block;
    }

    .logo svg {
        width: 54px;
        height: 47px;
    }

    .btn-burger,
    .btn-close {
        top: 20px;
        right: 20px;
    }

    .btn-burger svg * {
        fill: #fff;
    }

    .container {
        margin: 0 20px;
    }

    .intro-text {
        font-size: 16px;
    }

    .main-title {
        font-size: 20px;
    }

    .title-block::after {
        width: 100%;
        left: 0;
    }

    .big-data {
        display: block;
        font-size: 24px;
    }

    .history-block__item {
        font-size: 16px;
    }

    .inro-text-block {
        margin: 0 0 48px 0;
    }

    .title-block {
        margin: 0 0 24px 0;
    }

    .history-block__item {
        margin: 0 0 24px 0;
    }

    .history-block {
        margin: 0 0 48px 0;
    }

    .textarea {
        height: 150px;
        padding: 20px 20px 20px 20px;
        text-align: center;
        margin: 0 0 19px 0;
    }

    .button {
        font-size: 28px;
        padding: 13px 56px;
        width: 199px;
        height: 60px;
        position: static;
        display: block;
        margin: 0 auto;
    }

    .slider {
        padding: 0;
        margin: 0 0 48px 0;
    }

    .slick-slide {
        border: 0;
    }

    .slick-track {
        margin: 0 0 24px 0;
    }

}