body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #005BBB;
}

.header {
    text-align: center;
    padding: 80px 0 0 0;
}

.container {
    max-width: 1024px;
}

.logo {
    margin: 0 0 80px 0;
}

.nav {
    margin: 0 0 80px 0;
}

.nav__link {
    margin: 0 40px 0 40px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
}

.inro-text-block {
    margin: 0 0 80px 0;
}

.intro-text {
    font-size: 28px;
    line-height: 140%;
    /*Доопрацювати відстані в px */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}